<h1><%= t '.task_index' %></h1>
<table>
  <tr>
    <th><%= t '.name' %></th>
    <th><%= t '.content' %></th>
  </tr>
<% @tasks.each do |task| %>
  <tr id="task_row">
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td><%= link_to t('.show'), task_path(task.id) %></td>
    <td><%= link_to t('.edit'), edit_task_path(task.id) %></td>
     <td><%= link_to t('.delete'), task_path(task.id), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to t('.create'), new_task_path %>
