<h1><%= t '.task_show' %></h1>
<p><%= t '.name' %>: <%= @task.name %></p>
<p><%= t '.content' %>: <%= @task.content %></p>
<p><%= t '.deadline' %>: <%= @task.deadline.strftime("%Y/%m/%d %H:%M:%S") %></p>
<%= form_with(model: @task, local: true) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :deadline %>
  <p><%= t '.state' %>: <%= f.select :state, Task.states.keys.to_a, selected: @task.state %></p>
  <p><%= t '.priority' %>: <%= f.select :priority, Task.priorities.keys.to_a, selected: @task.priority %></p>
  <%= f.submit %>
<% end %>
