<h1>New account</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true, url: admin_users_path) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name, id: 'ユーザー名' %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email, id: 'メールアドレス' %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, id: 'パスワード' %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation, id: 'パスワードの確認' %></td>
    </tr>
  </table>
  <%= f.submit "Create account" %>
<% end %>
