<!DOCTYPE html>
<html>
  <head>
    <title>Taske</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <div class="top">
          <%= link_to "TASKE", root_path %>
        </div>
        <nav>
          <ul class="top_menu clearfix">
              <li><%= link_to root_path do %>
                <i class="fas fa-home"></i>
              <% end %>
              </li>
              <li><%= link_to new_task_path do %>
                <i class="fas fa-plus"></i>
              <% end %>
              </li>
              <li><%= link_to tasks_path do %>
                <i class="fas fa-table"></i>
              <% end %>
              </li>
          </ul>
        </nav>
      </header>
      <div class="content_box">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <%= yield %>
        </div>
    <footer>
      <p>© 2020 TASKE</p>
    </footer>
    </div>
  </body>
</html>
